/*
GLOBAL
*/
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

h1,
h2,
h3 {
  font-weight: bold;
  line-height: 100%;
}

h1 {
  font-size: 64px;
}

h2 {
  font-size: 36px;
}

a {
  text-decoration: none;
}

/*
Layout
*/
.wrapper {
  position: relative;
  width: 960px;
  margin: auto;
}

/*
.list-social
*/
.list-social {
  display: flex;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 1;
}

.list-social li {
  margin-left: 20px;
}

/*
.banner
*/
.banner {
  position: relative;
}

.banner img {
  display: block;
}

.banner h1 {
  position: absolute;
  top: 40px;
  width: 100%;
  text-align: center;
}

.banner h2 {
  position: absolute;
  bottom: 140px;
  left: 52px;
  padding: 20px;
  background: rgba(114, 153, 254, .5);
}


/*
.skills 
*/
.skills {
  padding: 34px;
  background: #7299FE;
}

.skills h2 {
  text-align: center;
  margin-bottom: 25px;
}

.skills .percentage {
  display: flex;
  flex-wrap: wrap;
  padding: 0 60px 30px;
}

.skills .bar-title {
  margin-bottom: 18px;  
  width: 50%;
}

.skills .bar-title:nth-child(odd) {
  padding-right: 20px;
}

.skills .bar-title:nth-child(even) {
  padding-left: 20px;
}

.skills .bar-title h3{
  font-size: 18px;
  margin-bottom: 10px;
}

.skills .bar-title .bar {
  height: 17px;
  width: 100%;
  background: white;
}

.skills .bar-title .bar div {
  background: black;
  width: 50%;
  height: 100%;
}

/*
.services
*/
.services {
  background: #fb7171;
  padding: 34px;
  text-align: center;
}

.services img {
  display: block;
  margin: 0 auto 20px;
}

.services h2 {
  margin-bottom: 60px;
}

.services .items {
  display: flex;
  flex-wrap: wrap;
}

.services .items .item {
  width: 33.33%;
  margin-bottom: 60px;
}

.services h3 {
  font-size: 24px;
}
